* {
  color: #2A2A2A;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

p {
  letter-spacing: 0.1rem;
}

h2, h3 {
  font-size: 20px;
  position: relative;
  letter-spacing: 0.1rem;
  font-weight: 600;
  padding-top: 10px;
}

.container-fluid {
  overflow-x:hidden;
}

/* navigation */

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 16px;
  z-index: 10;
}

.nav-item {
  margin-left: 20px;
  text-align: right;
}

#navbar {
  margin-top: 0px;
  position: fixed; /* Make it stick/fixed */
  width: 100%;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* index.html specifiers */

.welcome {
  background-image: url(https://i.imgur.com/o2Z3zcV.png), linear-gradient(#d7e5e8, #c0d3d9);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome h1, .aboutme h1 {  
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
  letter-spacing: 0.2rem;
  font-weight: 700;
  padding-top: 20px;
}

#header-box {
  margin: 0 auto;
  position: relative;
  top: 20%;
  width: 300px;
  height: 60px;
  background: white;
  z-index: 1;
}

/* aboutme.html specifiers */

.aboutme {
  background: url(https://i.imgur.com/mWeunP2.png), linear-gradient(#d7e5e8, #c0d3d9);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 40px;
  bottom: 40px;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #c0d3d9;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 50%;
  float: left;
  border: 1px solid #c0d3d9;
  border-radius: 2px;
  padding: 20px;
  position: relative;
}

.timeline > li:not(.timeline-inverted) {
padding-right:90px;
}

.timeline > li.timeline-inverted {
padding-left:90px;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #c0d3d9;
  border-right: 0 solid #c0d3d9;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #c0d3d9;
  border-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

/* footer */

.before-footer {
  margin-bottom: 110px;
}

.socials {
  padding-top: 10px;
  text-align: center;
  z-index: 15;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
}